* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'poppins', sans-serif;
}

body {
    background: #fcfcfc;
    color: #444;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1;
}

/* Header */

header {
    /* background-color: #f5ba13; */
    background-color: white;
    margin: 0;
    padding: 8px 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    /* display: flex; */
}

header img.logo {
    width: 50px;
    margin: auto 0;
}

header h1 {
    /* background-image: linear-gradient(to left, #f25359,#FFAEC8,#ce86d3,#86b4d3,#86d39c,#FDECA6,#ffd700); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: black;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: auto 16px;

}

header img.icon {
    width: 30px;
    margin: auto 0;
}

header input {
    border: 1px solid #ececec;
    border-radius: 40px;
    height: 38px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    margin: auto 16px;
    padding: 0 16px;
    overflow-x: scroll;
    outline: none;
}

header input:hover {
    border: 1px solid #dadada;
}

/* Footer */

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 1rem;
}

footer p:first-child {
    color: #ccc;
    font-size: 0.7rem;
}

footer img {
    position: absolute;
    right: 16px;
    bottom: 0;
    width: 70px;
    transition: all 0.3s;
    z-index: 2;
}

footer img:hover {
    transform: translateY(-10px);
}

footer p:last-child {
    position: absolute;
    padding: 12px;
    right: 16px;
    bottom: 0px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    transition: all .3s ease-out;
    opacity: 0;
    border-radius: 100px;
    font-weight: normal;
    box-shadow: 8px 7px 5px 0px rgba(106, 159, 136, 0.5);
}

footer img:hover~p {
    bottom: 56px;
    opacity: 100;
}


/* Main page */

.card {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    width: 300px;
    height: 250px;
    margin: 8px;
    overflow: hidden;
    /* float: left; */
}

.card img {
    width: 300px;
    /* width of container */
    height: 200px;
    object-fit: cover;
    /* object-position: 0% 25%; */
}

.card a {
    
    text-decoration: none;

}

.card h1 {
    font-size: 1.2em;
    color: black;
    margin-bottom: 19px;
}

.card p{
    font-size: 1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
    overflow: hidden;
    
}

/* Upload page */
.panel {
    margin: 100px auto 0px;
    /* max-width: 500px; */
    text-align: center;
}

.button_outer {
    background: #83ccd3;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
}

.btn_upload {
    padding: 17px 30px 12px;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}

.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}

.file_uploading {
    width: 50%;
    height: 10px;
    margin-top: 20px;
    background: white;
}

.file_uploading .btn_upload {
    display: none;
}

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #83ccd3;
    transition: 1s;
}

.file_uploading .processing_bar {
    width: 100%;
}


.uploaded_file_view {
    max-width: 85%;
    margin: 30px auto;
    /* text-align: center; */
    position: relative;
    transition: .2s;
    opacity: 0;
    border: 2px solid #ddd;
    padding: 15px;
    display:flex;
    flex-wrap: wrap;
}

.uploaded_file_view  .uploaded_image{
    margin:10px;
    position:relative;
}

.uploaded_file_view  .uploaded_image img{

    width: 200px;
    /* width of container */
    height: 180px;
    object-fit: cover;

}

.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}

.file_remove:hover {
    background: #222;
    transition: .2s;
}


.uploaded_file_view.show {
    opacity: 1;
}

.error_msg {
    text-align: center;
    color: #f00
}

.panel form{
    text-align: left;
    max-width:800px;
    margin:0 auto;
    font-size: 1.2rem;
}

/* Plog Detail */

.post_detail_pictures{
    margin:50px auto 50px;
    width:min(1050px, 85vw);
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
}

.post_detail_text{
    background-color: #ddd;
    padding: 50px 0;

}

.post_detail_text h1{
    font-size: 3rem;
    width:calc(min(1050px, 85vw) - 10px);
    margin:0 auto 15px;
}

.post_detail_text p {
    font-size: 1.1em;
    width:calc(min(1050px, 85vw) - 10px);
    margin:0 auto 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
    line-height: 1.3rem;
}

.post_detail_pictures img{

    width: max(100px, min(20vw, 200px));
    /* width of container */
    height: max(100px, min(20vw, 200px));
    object-fit: cover;
    margin:5px;
    border-radius: 20px;

}

/* Login */
.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
  }
  
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 15px;
    font-size: 20px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    /* margin-bottom: -1px; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    /* margin-bottom: -1px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top:none;
    margin-bottom:10px;
  }